*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main , section{
    margin: auto;
    width: 300px;
    text-align: center;
}
input{
     border: none;
    border-bottom: 1px solid black;
    box-shadow: 3px 3px #ccc;
    margin: 8px;
    outline: none;
    width: 160px;
}
button{
    background-color: purple;
    box-shadow: 10px 6px #ccc;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 10px;
    padding: 5px;
    width: 100px;
}
