body{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    background-attachment: fixed;    
}
main{
     font-family: 'Times New Roman', Times, serif;
     margin: auto;
      text-align: center;
      width: 300px;
}
button{
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}
input{
    border-radius: 10px;
    border: 1px solid black;
}