body
{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;
}
.principal
{
    border: black;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    border-radius: 10px;
    border-right: 1px;
    border-left: 1px;
    height: 100vh;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}
input
{
    border: 1px solid black;
    border-radius: 10px;
}
button
{
    border: 1px solid black;
    border-radius: 10px;
}